.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


html {
    height: 100%;
    place-items: center;
}

body {
    background-color: #a5a5b1;
    display: grid;
    place-items: center;
    height: 100%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card-container {
  margin: 5px;
  width: 700px;
  height: 100px;
  white-space: normal;
 
}

.container {
  margin: 5px;
  width: 1000px;
  height: 100%;
  border-radius: 8px;
  white-space: nowrap;
  display: inline-block;
}

.item {
  border: 1px solid #b1aaaa;
  border-radius: 2px;
  background-color:#ffffff;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

/* Inline-block */
.inline {
  vertical-align: middle;
  overflow-y: scroll; 
}

.inline-item {
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  margin-right: -4px;
}

/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
}

.flex-item {
  flex: 0 0 auto;
}

.temp {
    font-size: 30px;
    font-family: 'Marcellus', serif;
    font-weight: bold;
    color: #2b304d;
    margin: -5px 0% 0% 0;
}

#time {
    font-weight: bold;
}

h2, h1, #site-search, .button {
    font-family: 'Marcellus', serif;
}
 h1 {
  color: #2b304d;
 }

#site-search {
  margin-bottom: 20px;
}

.red {
  margin: 0 5px;
}

.red, .blue, .yellow, .orange {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
